<app-breadcrumbs [items]="[{ label: 'Client' }, { label: 'Clients' }]" />

<mat-card>
  <mat-card-header>
    <mat-card-title>Client List</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="actions">
      <button mat-flat-button color="primary" (click)="openCreateDialog()">Add Client</button>
    </div>

    <app-generic-table
      [columns]="columns"
      [data]="clients()"
      [loading]="loading()"
      [emptyMessage]="'No clients available'"
      (edit)="openEditDialog($event)"
      (delete)="confirmDelete($event)"
      (rowClick)="openOutlets($event)"
    />
  </mat-card-content>
</mat-card>

