:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding: 24px;
}

.address-layout {
  flex: 1;
  display: flex;
  gap: 20px;
  overflow: hidden;
}

@media (max-width: 900px) {
  .address-layout {
    flex-direction: column;
    overflow-y: auto;
  }
}
