:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding: 24px;
}

.ratings-layout {
  flex: 1;
  display: flex;
  gap: 20px;
  overflow: hidden;
}

@media (max-width: 720px) {
  .ratings-layout {
    flex-direction: column;
    overflow-y: auto;
  }
}
