<div class="table-toolbar">
  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchText" (ngModelChange)="onSearchChange()" placeholder="Filter rows" />
  </mat-form-field>
</div>

@if (loading) {
  <div class="table-loading">
    <mat-spinner diameter="32" />
  </div>
} @else {
  <div class="table-wrapper mat-elevation-z1">
    <table mat-table [dataSource]="paginatedData">
      @for (column of columns; track column.key) {
        <ng-container [matColumnDef]="column.key">
          <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
          <td mat-cell *matCellDef="let row">{{ getCellValue(row, column.key) }}</td>
        </ng-container>
      }

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="actions-col">Actions</th>
        <td mat-cell *matCellDef="let row" class="actions-col">
          <button mat-icon-button color="primary" (click)="onEdit($event, row)" aria-label="Edit row">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete($event, row)" aria-label="Delete row">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="onRowClick(row)"
        [class.clickable-row]="clickableRows"
      ></tr>
    </table>
  </div>

  @if (filteredData.length === 0) {
    <div class="empty-state">{{ emptyMessage }}</div>
  } @else {
    <mat-paginator
      [length]="filteredData.length"
      [pageSize]="currentPageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      aria-label="Select page of table data"
    ></mat-paginator>
  }
}


