@for (row of rowArray; track row) {
  <div class="skel-row">
    <div class="skel-avatar shimmer"></div>
    <div class="skel-body">
      <div class="skel-line wide shimmer"></div>
      <div class="skel-line medium shimmer"></div>
      <div class="skel-pills">
        <div class="skel-pill shimmer"></div>
        <div class="skel-pill shimmer"></div>
      </div>
    </div>
    <div class="skel-stats">
      <div class="skel-stat shimmer"></div>
      <div class="skel-stat shimmer"></div>
      <div class="skel-stat shimmer"></div>
    </div>
    <div class="skel-actions">
      <div class="skel-btn shimmer"></div>
      <div class="skel-btn shimmer"></div>
    </div>
  </div>
}
